@model DrivingSchool.ViewModels.TracksVM.EditTrackViewModel
@Html.AntiForgeryToken()

<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Edit Track Details</h1>
    <form asp-action="EditTrack" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name">Edit - Track Name</label>
            <input asp-for="Name" class="form-control" autocomplete="off" placeholder="Enter the Track name" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Location">Edit - Location</label>
            <input asp-for="Location" class="form-control" autocomplete="off" placeholder="Enter the Track Location" required />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl">Edit - Image URL</label>
            <input asp-for="ImageUrl" class="form-control" autocomplete="off" placeholder="Paste the image URL here (optional)" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Edit - Description</label>
            <textarea asp-for="Description" class="form-control" rows="5" placeholder="Provide a brief description" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="this btn btn-primary">Save Changes</button>
    </form>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
