@model DrivingSchool.ViewModels.CarsVM.CreateCarsViewModel
@Html.AntiForgeryToken()

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Cars</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            color: #fff;
            overflow-x: hidden;
            position: relative;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 30px 50px;
            text-align: center;
            border-radius: 25px;
            background: rgba(25, 0, 150, 0.15);
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(3px);
        }

        h1 {
            font-size: 2.8em;
            margin-bottom: 30px;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: left;
        }

        label {
            font-size: 1.2em;
            color: #fff;
            margin-bottom: 10px;
            display: block;
        }

        textarea {
            resize: vertical;
            min-height: 150px;
        }

        .this {
            color: #fff !important;
            border: none !important;
            padding: 5px 10px;
            border-radius: 5px;
            width: 30%;
        }

            .this:hover {
                color: #fff !important;
            }

        footer .container {
            padding: 0px;
        }
    </style>
</head>
<body>
    <h1>Create New Cars</h1>
    <form asp-action="CreateCars" method="post">
        <input type="hidden" asp-for="ActivityId">

        <div class="form-group">
            <label asp-for="Name">Cars Name</label>
            <input asp-for="Name" class="form-control" placeholder="The name of the car." autocomplete="off" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl">Image URL</label>
            <input asp-for="ImageUrl" class="form-control" placeholder="Paste the image URL here (optional)" autocomplete="off" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" rows="5" placeholder="A short description of the car." required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>


        <button type="submit" class="this">Create Cars</button>
    </form>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
