@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: relative;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px 0px;
        text-align: center;
        border-radius: 25px;
        background: orange;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
    }

    h1 {
        font-size: 2.8em;
        color: blue;
    }

    p {
        font-size: 1.2em;
        line-height: 1.8;
        color: #dcdcdc;
        margin: 25px 0px;
    }

    .row {
        justify-content: center;
    }

    footer .container {
        padding: 0px;
    }

    h2 {
        color: #fff;
    }

    button {
        color: #fff !important;
        background-color: #27CCF5 !important;
    }

        button:hover {
            color: #fff !important;
            background-color: #27F59F !important;
        }
</style>

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-7">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="off" aria-required="true" placeholder="Input your e-mail here." />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="Input your password here." />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
