@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: relative;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px 0px;
        text-align: center;
        border-radius: 25px;
        background: rgba(25, 0, 150, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
    }

    h1 {
        font-size: 2.8em;
        margin-bottom: 40px;
    }

    p {
        font-size: 1.2em;
        line-height: 1.8;
        color: #dcdcdc;
        margin: 25px 0px;
    }

    .row {
        justify-content: center;
    }

    footer .container {
        padding: 0px;
    }

    h2 {
        color: #fff;
    }

    button {
        color: #fff !important;
    }

        button:hover {
            color: #fff !important;
        }
</style>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-7">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="off" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="off" aria-required="true" placeholder="Your Username" />
                <label asp-for="Input.Username">Username</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="off" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="off" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
